@model SustainableChemistryWeb.Models.AppNamedreaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppNamedreaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReactantA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReactantA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReactantB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReactantB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReactantC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReactantC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcidBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcidBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Catalyst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Catalyst.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunctionalGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunctionalGroup.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solvent.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
